.btn-agregar-producto {
    background-color: #37ACDC;
    border-color: #37ACDC;
    width: 200px;
    height: 200px;
}
.btn-agregar-producto:focus{
    background-color: #54C7F5;
    border-color: #54C7F5;
    width: 200px;
    height: 200px;
}

.btn-ver-inventario {
    background-color: #80CA55;
    border-color: #80CA55;
    width: 200px;
    height: 200px;
}

.btn.btn-ver-inventario:focus{
    background-color: #AFEA8D ;
    border-color: #AFEA8D;
    width: 200px;
    height: 200px;
}

.texto-buton-in-prod{
    color: #fff;
}

.btn-realizar-venta{
    background-color: #FC0000;
    border-color: #FF3636;
    width: 200px;
    height: 200px;
}

.btn-venta-rapida{
    background-color: #FF5900;
    border-color: #FA7F3C;
    width: 200px;
    height: 200px;
}