<ngx-spinner name="spinnerdashbitacora">
</ngx-spinner>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Resumen de la situación</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       <div>
        <table>
            <thead>
                <tr >
                    <th>Nombre del producto</th>
                    <th>Stock</th>
                </tr>
            </thead>
           <tbody>
            <tr >
                <td>{{resultado_obtenido.category.cnombre}} {{resultado_obtenido.brand.bnombre}} {{resultado_obtenido.pdescripcion}}</td>
                <td>{{resultado_obtenido.stock.pstock}}</td>
            </tr>
           </tbody>

        </table>
       </div>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="card d-flex justify-content-center">
        <div class="card-header">
            <h1 class="d-flex justify-content-center">Listado de ácciones</h1>
        </div>
        <div class="card-body " >
                <h2>Situaciones</h2>
                <ul    *ngFor="let item of lo_observado ">
                        <li >
                          <div class="asunto" > <p>Asunto:</p> {{item.asunto}} </div>
                        
                           <div> fecha y hora:{{item.created_at}}</div>
                         
                           <div *ngIf="item.producto != 0" class="iDproducto"><p>Id del producto:</p>{{item.producto}}</div>
                          
                           <div *ngIf="item.categoria != 0" class="iDcategoria"><p>Id de la categoria:</p>{{item.categoria}}</div>
                          
                           <div *ngIf="item.stock != 0" class="iDstock"><p>Id del stock:</p> {{item.stock}}</div>
                           <hr>
                        </li>
                        <button (click)="open(content1, item)">Resumen</button>
                   
                </ul>
          
        </div>
    </div>
</div>

